
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: red;
  z-index: 100;
}

.navbar{
  display: relative;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1.5rem;
}

.navbar img{
  height: 3.5rem;
}

.nav-menu{
  width: initial;
}

.nav-list{
  display: flex;
  flex-direction: row;
}

.nav-item{
  
}